extends layout
block content
    h1(style='text-align: center') Edit Product
        if(show)
            p(class='error-message') #{errormessage}
        form#form(method='post')
            label(for='productname') Product Name:
            br
            input(type='text' name='productname' value=`${result.productName}` required=true)
            br
            label(for='price') Price:
            br
            input(type='text' name='price' value=`${result.price}` required=true)
            br
            label(for='description') Product Description:
            br
            input(type='textarea' name='description' value=`${result.description}` required=true)
            br
            input(type='submit' value='Submit' class='btn' id='submitform')
    script.
        $(document).ready(() => {

            $('#submitform').click((e)=> {

                if(!confirm('Are you sure you want to update this product?'))
                    e.preventDefault()
            })
        })