extends layout

block content
  div.selections
    h1= title
    p Welcome to #{title}
    div.selection
      a(href='/create' class='btn') Create
    table
      tr
        th Product Name
        th Price
        th Description
        th Options
      if(products.length !== 0)
        each data in products
          tr
            td= data.productName
              td= `PHP${data.price}`
              td= data.description
              td.table-option
                a(href=`/edit/${data.productName}` class='btn') Edit
                br
                a(href=`/delete/${data.productName}` class='btn deletebtn') Delete
      else
        tr
          td No Data Available
  script.
    $(document).ready(() => {

      $('.deletebtn').click((e) => {

        if(!confirm('Are you sure you want to delete this product?'))
            e.preventDefault()
      })
    })