doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js')

  body
    block content
