body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.selections {

  width: 50%;
  margin: auto;
  text-align: center;
}

.selection {

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {

  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #ff007b;
}

#form {

  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding:30px;
  border: 1px solid #777777;
}

#form input[type='text'], #form input[type='textarea']{

  width: 100%;
  padding: 5px;
  margin: 10px 0;
  display: inline-block;
}

#form label {

  font-size: 14px;
}

.error-message {
  text-align: center;
  color: white;
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  background-color: #f8027d;
}

th {
  padding: 8px;
  color: white;
  background-color: #04AA6D;
}

table {
  margin-top: 15px;
  display: table;
  width: 100%;
  border-collapse: collapse;
}
td, th{
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

td.table-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;


}


